[submodule "tmux/.config/tmux/plugins/catppuccin/tmux"]
	path = tmux/.config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
	branch = v2.1.3
[submodule "tmux/.config/tmux/plugins/tmux-plugins/tmux-battery"]
	path = tmux/.config/tmux/plugins/tmux-plugins/tmux-battery
	url = git@github.com:tmux-plugins/tmux-battery.git
[submodule "tmux/.config/tmux/plugins/tmux-plugins/tmux-cpu"]
	path = tmux/.config/tmux/plugins/tmux-plugins/tmux-cpu
	url = git@github.com:tmux-plugins/tmux-cpu.git
